asn1crypto==1.5.1
boto3==1.39.12
botocore==1.39.12
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
contourpy==1.3.2
cryptography==45.0.5
cycler==0.12.1
filelock==3.18.0
fonttools==4.59.0
idna==3.10
jmespath==1.0.1
kiwisolver==1.4.8
matplotlib==3.10.3
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pillow==11.3.0
platformdirs==4.3.8
pycparser==2.22
pyjwt==2.10.1
pyopenssl==25.1.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
s3transfer==0.13.1
seaborn==0.13.2
six==1.17.0
snowflake-connector-python==3.16.0
sortedcontainers==2.4.0
tomlkit==0.13.3
tqdm==4.67.1
typing-extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
